.game1 {
    display: grid;
    place-items: center;
    min-width: 100vw;
}

.container {
    display: grid;
    min-width: 100vw;
    grid-template-columns: 3fr 1fr;
}

.item {
    padding:15px;
    box-shadow: 
    2px 0 0 0 #888, 
    0 2px 0 0 #888, 
    2px 2px 0 0 #888,   /* Just to fix the corner */
    2px 0 0 0 #888 inset, 
    0 2px 0 0 #888 inset;
}

.left {
    height: 85vh;
    display:grid;
    place-items: center;
    background-color: rgba(215, 215, 215, 0.281);
}

.res {
    height: 0vh;
}

.record {
    background-color: rgb(215, 215, 215);
}

input {
    box-shadow: none;
    text-align: center;
    margin:5px;
}