.container {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    row-gap: 55px;
}

button {
    margin-left:10px;
    margin-right:10px;
}

.userSide {
    font-size: 15px;
}

.record {
    font-size :30px;
}