.App {
  text-align: center;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

.navbar {
  display:flex;
  justify-content: center;
  background-attachment: fixed;
  background-color: black;
}

.Items {
  padding : 5px;
}

.Item {
  box-shadow: 
    2px 0 0 0 #888, 
    0 2px 0 0 #888, 
    2px 2px 0 0 #888,   /* Just to fix the corner */
    2px 0 0 0 #888 inset, 
    0 2px 0 0 #888 inset;
}

.ItemInside {
  display:inline-block;
  cursor:pointer;
}

.homelink {
  color:white;
  cursor:pointer;
  font-size: 30px;
}


#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
}

footer{
  height: 30px;
  position : relative;
  transform : translateY(-100%);
}