.App {
  text-align: center;
}

.navbar {
  display:flex;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
  background-color: black;
}

.link {
  color:white;
  cursor:pointer
}


#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
}

footer{
  height: 30px;
  position : relative;
  transform : translateY(-100%);
}
