.App {
  text-align: center;
}

header, footer {
  background-color: bisque;
  height: 30px;
}

#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
}

footer{
  height: 30px;
  position : relative;
  transform : translateY(-100%);
}
